header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #160d48;
  position: relative;
}

header .logo-mobile {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

header .logo {
  height: 100%;
}

header .navbar .logo {
  display: none;
}

header .navbar .nav-list {
  display: flex;
  gap: 20px;
}

header .navbar .nav-list li {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .navbar .nav-list li:hover a {
  color: #d7b566;
}

header .navbar .nav-list li a {
  color: #f4f4f4;
  transition: 0.2s;
  font-size: 14px;
}

header .login {
  display: flex;
  gap: 10px;
}

header .login button {
  padding: 5px 15px;
  border-radius: 15px;
  border: none;
  color: #f4f4f4;
  font-size: 14px;
  cursor: pointer;
}

header .login .cadastro {
  background: linear-gradient(130deg, #d7b566, #a67c2e);
}

header .login .logar {
  background: transparent;
  border: 2px solid #f4f4f4;
}

.menu-btn {
  display: none;
  width: 30px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 20;
}

.menu-btn span {
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  transition: 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.menu-btn.active span:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
  background: #fff;
}

.menu-btn.active span:nth-child(2) {
  opacity: 0;
}

.menu-btn.active span:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
  background: #fff;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.35s cubic-bezier(0.25, 1, 0.5, 1);
  z-index: 5;
}

@media (max-width: 900px) {
  .menu-btn {
    display: flex;
  }

  header {
    justify-content: space-between;
    padding: 0 50px;
  }

  header .navbar {
    position: fixed;
    left: 5%;
    top: -100%;
    width: 90%;
    max-width: 500px;
    height: auto;
    background: #160d48;
    padding: 30px 15px;
    border-radius: 20px;
    transition: 0.45s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header .navbar .logo {
    display: block;
    height: 100px;
  }

  header .navbar .nav-list p{
    text-align: center;
  }

  header .navbar.active {
    left: 5%;
    top: 50%;
    transform: translatey(-50%);
  }

  header .navbar .nav-list {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  header .navbar .nav-list li {
    text-align: start;
  }

  header .navbar .nav-list li a {
    font-size: 18px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    width: 100%;
    padding: 7px 15px;
  }

  #overlay.active {
    opacity: 1;
    pointer-events: auto;
  }
}

@media (max-width: 600px) {
  header{
    padding: 0 20px;
  }
}